{% extends 'base.html' %}
{% block cats %}
<div class="d-flex" style="margin-left: 232px; margin-top: 2rem;">
    <div style="margin-right: 200px;">
        <p class="category-list">А</p>
        <div>Актрисы</div>
        <div>Астрономы</div>
        <div>Аквалангисты</div>
        <div>Азербайджане</div>
    </div>
    <div style="margin-right: 200px;">
        <p class="category-list">Б</p>
        <div>Библиотекари</div>
        <div>Бакалавры</div>
        <div>Бизнесменки</div>
        <div>Бурятки</div>
    </div>
    <div style="margin-right: 200px;">
        <p class="category-list">В</p>
        <div>Водители</div>
        <div>Востоковеды</div>
        <div>Ветераны</div>
        <div>В високосный год родились</div>
    </div>
    <div style="margin-right: 200px;">
        <p class="category-list">Г</p>
        <div>Гусары</div>
        <div>Губернаторши</div>
        <div>Гросмейстерши</div>
        <div>Гемофродиты</div>
    </div>
</div>
{% endblock %}